.main-content-container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #eaedee;
}

.img-container,
.info-container {
  margin-top: 40px;
  height: 600px;
  width: 450px;
}

.info-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
}

.img-container img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.infos {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.infos div {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  /* height: 40px; */
  width: 100%;
}

.infos .type {
  font-weight: 400;
  width: 50%;
  color: #999999;
}
.infos .value {
  font-weight: 600;
  width: 50%;
  color: #666666;
}

.product-name {
  padding: 40px 0 20px 0;
  border-top: 1px solid #e7e7e7;
  font-size: 16px;
  font-weight: 600;
}

.product-description {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}

.user {
  margin: 20px 0 40px 0;
  display: flex;
  align-items: center;
}

.acheter-btn {
  background-color: #08acb6;
  height: 36px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
