.main-content-container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #eaedee;
}

.img-container,
.info-container {
}

.info-container {
}

.infos div {
  /* height: 40px; */
  width: 100%;
}

.infos .type {
}
.infos .value {
}
