/* Other rules */

/* HEADER */
*,
body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.modal-no-scroll {
  overflow: hidden;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    max-width: 1250px;
    margin: 0 auto;
  }
}

// MODALS (signup, login, publish validation)
.modal {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .close-modal {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  .publish-validate-modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 350px;
    padding: 30px;
    position: relative;
    animation: FadeIn 0.3s ease;

    h1 {
      font-size: 24px;
      margin-top: 15px;
      margin-bottom: 30px;
      text-align: center;
    }

    h2 {
      margin-top: 15px;
      font-size: 16px;
      text-align: center;
    }

    button {
      height: 45px;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      margin-top: 45px;
      background-color: #09b0ba;
      margin: 40px 0 40px 0;
      cursor: pointer;
    }

    span {
      font-size: 13px;
      color: #09b0ba;
      text-align: center;
      cursor: pointer;
    }
  }

  .signup-modal {
    position: relative;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 350px;
    padding: 30px;
    animation: FadeIn 0.3s ease;

    h1 {
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 30px;
      margin-top: 15px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        outline: none;
        border: none;
        height: 50px;
        border-bottom: 1px solid #e7e7e7;
      }

      .form-input-password {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e7e7e7;

        .input {
          flex: 1;
          border-bottom: none;
        }
        .eye-icon {
          color: #898989;
          font-size: 12px;
          cursor: pointer;
        }
      }

      .form-newsletter {
        display: flex;
        align-items: center;
        input {
          cursor: pointer;
        }

        span {
          margin-left: 10px;
          font-size: 16px;
          color: #666666;
        }
      }

      p {
        font-size: 12px;
        color: #999999;
      }

      .error-msg {
        color: tomato;
        font-size: 12px;
        text-align: center;
        margin-top: 30px;
      }

      button {
        height: 45px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        margin: 45px 0 20px 0;
        background-color: #09b0ba;
        cursor: pointer;
      }
    }
    .bottom-link {
      font-size: 12px;
      color: #09b0ba;
      text-align: center;
      cursor: pointer;
    }
  }

  .login-modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 350px;
    padding: 30px;
    position: relative;
    animation: FadeIn 0.3s ease;
    overflow: hidden;

    h1 {
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      margin-top: 15px;
      margin-bottom: 30px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        outline: none;
        border: none;
        height: 50px;
        border-bottom: 1px solid #e7e7e7;
      }

      .form-input-password {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e7e7e7;

        .input {
          flex: 1;
          border-bottom: none;
        }
        .eye-icon {
          color: #898989;
          font-size: 12px;
          cursor: pointer;
        }
      }

      .error-msg {
        color: tomato;
        font-size: 12px;
        text-align: center;
        margin-top: 30px;
      }
      button {
        height: 45px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        margin-top: 45px;
        background-color: #09b0ba;
        margin: 45px 0 20px 0;
        cursor: pointer;
      }
    }
    .bottom-link {
      font-size: 12px;
      color: #09b0ba;
      text-align: center;
      cursor: pointer;
    }
  }

  @keyframes FadeIn {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }
    85% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}

// HEADER //

.header {
  height: 60px;
  min-height: 60px;
  // border-bottom: 1px solid #999999;

  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    .left-header {
      display: flex;
      flex: 1;

      .header-logo {
        height: 30px;
      }

      .search-bar {
        flex: 1;
        display: flex;
        position: relative;

        input {
          background-color: #09b0ba;
          flex: 1;
          height: 35px;
          max-width: 600px;
          margin: 0 50px;
          border: none;
          outline: none;
          border-radius: 5px;
          padding: 0 15px 0 50px;
          background-color: #f5f6f7;
        }

        .icon-container {
          display: flex;
          position: absolute;
          align-items: center;
          bottom: 0;
          left: 60px;
          height: 35px;
          font-size: 18px;
          color: #999999;
        }
      }
    }

    .right-header {
      display: flex;

      button {
        background-color: white;
        margin: 0 10px;
        width: 100px;
        height: 28px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-size: 13px;
        cursor: pointer;
      }

      .disconnect-btn {
        background-color: rgb(236, 80, 53);
        padding: 0 8px;
        color: white;
        width: fit-content;
      }

      .sale-btn {
        margin-left: 20px;
        padding: 0 8px;
        background-color: #09b0ba;
        color: white;
        width: fit-content;
        // width: 140px;
      }

      .loggin-signup-btn-container {
        display: flex;
        justify-content: space-between;

        button {
          border: 1px solid #09b0ba;
        }
      }
    }
  }
}

//HOME PAGE
.content-container {
  // display: flex;
  // background-color: black;
  // margin: 0;

  //HERO
  .hero-container {
    // margin: 0;
    // display: flex;
    height: 500px;
    width: 100%;
    background-image: url("./assets/img/hero-background.jpeg");
    background-size: cover;
    background-position: 50%;
    position: relative;
    overflow: hidden;

    .test {
      cursor: pointer;
    }
    .tear {
      position: absolute;
      bottom: -30px;
    }
  }

  //FILTERS
  .filter-bar {
    height: 60px;
    background-color: white;
    position: sticky;
    top: 0px;

    .container {
      // background-color: red;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .left {
        display: flex;
        width: 100%;
        align-items: center;

        .text {
          font-size: 12px;
        }

        .articles-total {
          display: flex;
          align-items: center;
          height: 25px;

          padding-right: 20px;
          border-right: 1px solid #09b0ba;

          .count {
            width: 30px;
            text-align: center;
            margin-right: 6px;
            font-size: 16px;
            font-weight: 600;
            color: #2db0ba;
          }
        }

        .results-per-page {
          padding: 0 20px 0 20px;
          border-right: 1px solid #09b0ba;
          display: flex;
          align-items: center;
          height: 25px;

          .limit-selector {
            margin-left: 20px;
            display: flex;
            span {
              font-size: 14px;
              display: flex;
              font-weight: 400;
              align-items: center;
              justify-content: center;
              width: 25px;
              height: 25px;
              cursor: pointer;
            }
            .current-limit {
              background-color: #09b0ba;
              border-radius: 7px;
              color: white;
              box-shadow: 0px 2px 6px #aaa;
            }
          }
        }

        .price-asc-desc {
          display: flex;
          align-items: center;
          height: 25px;
          padding: 0 20px 0 20px;
          border-right: 1px solid #09b0ba;
          .icons-container {
            display: flex;
            margin-left: 10px;

            .asc-icon,
            .desc-icon {
              font-size: 25px;
              color: #e7e7e7;
              cursor: pointer;
            }
            .asc-icon {
              margin-right: 5px;
            }
            .selected {
              color: #09b0ba;
            }
          }
        }

        .price-range-selector {
          display: flex;
          height: 25px;
          align-items: center;
          flex: 1;
          padding: 0 20px 0 20px;

          .range-selector {
            margin-left: 30px;
            display: flex;
            max-width: 450px;
            flex: 1;
            justify-content: center;
            flex-wrap: wrap;
          }

          .yo {
            // border: 2px solid red;
          }
        }

        .yes {
          font-size: 11px;
          color: white;
          background-color: #09b0ba;
        }
      }

      .page-selector {
        margin-left: 40px;
        // border: 2px solid yellow;
        .pages {
          display: flex;
          align-items: center;
          span {
            font-size: 14px;
            display: flex;
            font-weight: 400;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            cursor: pointer;
          }
          .current-page {
            background-color: #09b0ba;
            border-radius: 7px;
            color: white;
            box-shadow: 0px 2px 6px #aaa;
          }
        }
      }
    }
  }

  //PRODUCTS
  .products-container {
    .container {
      // background-color: blue;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .product-container {
        display: flex;
        flex-direction: column;
        width: 20%;
        padding: 0 5px;
        color: #999999;
        text-decoration: none;
        font-size: 12px;

        .product-owner {
          display: flex;
          height: 50px;
          align-items: center;
          padding-left: 10px;

          .user-photo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
          }
        }

        .product-image-container {
          height: calc(100vw / 5 * 1.5);
          overflow: hidden;

          .product-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .product-details {
          margin-top: 15px;
          height: 60px;
          display: flex;
          flex-direction: column;
          line-height: 15px;

          .product-price {
            font-size: 14px;
            color: black;
          }
        }
      }
    }
  }
}

//OFFER PAGE
.offer-container {
  background-color: #eaedee;
  display: flex;
  flex: 1;

  .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

    .imgs-container,
    .infos-container {
      background-color: white;
      border-radius: 5px;
      height: 600px;
      width: 450px;
    }

    .imgs-container {
      background-size: cover;
      background-position: center;
    }

    .infos-container {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 40px;

      .price {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      .infos {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        div {
          display: flex;
          line-height: 20px;
          font-size: 14px;

          .type {
            font-weight: 400;
            width: 50%;
            color: #999999;
          }

          .value {
            font-weight: 600;
            width: 50%;
            color: #666666;
          }
        }
      }
      .product-name {
        padding: 40px 0 20px 0;
        border-top: 1px solid #e7e7e7;
        font-size: 16px;
        font-weight: 600;
      }

      .product-description {
        color: #666666;
        font-size: 16px;
        font-weight: 400;
      }

      .user {
        margin: 20px 0 40px 0;
        display: flex;
        align-items: center;

        .user-photo {
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }

        .user-name {
          margin-left: 20px;
          font-size: 16px;
        }
      }

      .buy-btn {
        background-color: #09b0ba;
        height: 36px;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

//PUBLISH PAGE
.publish-container {
  background-color: #ebecee;
  .container {
    h1 {
      margin-top: 40px;

      font-size: 25px;
      font-weight: 600;
      color: #09b0ba;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      > div {
        margin-top: 20px;
        box-shadow: 0px 1px 3px #aaa;
        background-color: white;
      }

      input::placeholder,
      textarea::placeholder {
        color: rgb(168, 168, 168);
      }

      .photo-upload {
        height: 250px;
        padding: 30px;

        .drop-zone {
          border: dashed 1px #e7e7e7;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .add-photo-input {
            border-radius: 5px;
            background-color: #09b0ba;
            color: white;

            .input-label {
              padding: 10px 20px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              .plus-icon {
                font-size: 25px;
                margin-right: 15px;
              }
              span {
                font-size: 16px;
              }
            }

            input {
              display: none;
            }
          }
        }
      }
      .input-category-container {
        display: flex;
        flex-direction: column;
        .input-container {
          display: flex;
          align-items: center;
          padding: 20px 30px;
          height: 60px;
          border-bottom: 1px solid #cfd2d4;

          input,
          textarea,
          span {
            flex: 1;
            font-size: 13px;
            border: none;
          }
          input {
            outline: none;
            border-bottom: 1px solid #cfd2d4;
          }
        }
        .description {
          height: fit-content;
          align-items: flex-start;

          textarea {
            outline: none;
            resize: none;
            border-bottom: 1px solid #cfd2d4;
          }
        }
      }

      .details {
        height: 100px;
      }

      .price {
        height: 100px;
      }
      .bottom-btn {
        display: flex;
        margin: 40px 0px 60px 0;
        justify-content: flex-end;
        background-color: #ebecee;
        box-shadow: none;

        button {
          cursor: pointer;
          font-size: 16px;
          background-color: #09b0ba;
          padding: 10px;
          color: white;
          border: none;
          border-radius: 5px;
        }
      }
    }
  }

  // background-color: blue;
}

//PAYMENT PAGE
.payment-container {
  background-color: #ebecee;
  height: 100%;
  .container {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 600px;
    background-color: white;

    h1 {
      font-size: 20px;
      padding: 30px 30px 10px 30px;
    }

    .details {
      padding: 30px 30px;
      border-bottom: 1px solid #e7e7e7;

      .line {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 14px;
          line-height: 30px;
          color: #666666;
        }
      }
    }

    .total {
      padding-bottom: 30px;
      margin: 40px 30px 20px 30px;
      border-bottom: 1px solid #e7e7e7;
      div {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 40px;
      }

      p {
        font-size: 14px;
        text-align: justify;
        line-height: 18px;
        b {
          font-weight: 600;
        }
      }
    }
    .checkoutForm {
      padding: 30px 30px;

      .spinner-icon {
        font-size: 14px;
        animation: rotation 0.02s infinite linear;
      }

      .payment-success {
        display: flex;
        flex-direction: column;
        width: 100%;
        // background-color: blue;
        span {
          width: 100%;
          // background-color: green;
          font-size: 20px;
          text-align: center;
        }
      }

      button {
        background-color: #01bb6a;
        height: 100%;
        width: 100%;
        border: none;
        color: white;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 30px;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }
}

//NOT FOUND PAGE
.notfound-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  .parallelogram-background {
    .message {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
      position: relative;

      color: white;

      &::before {
        content: "";
        width: 120%;
        height: 140%;
        transform: skew(-20deg);
        background-color: #09b0ba;
        top: -20%;
        left: -10%;
        position: absolute;
        z-index: -1;
      }
    }
  }

  .link-home {
    color: #09b0ba;
    text-decoration: none;
    cursor: pointer;
  }
}

// .filter-bar {
//   height: 60px;
//   background-color: white;
//   position: sticky;
//   top: 0px;

//   .container {
//     // background-color: red;
//     margin-top: 10px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 100%;
